<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="static/styles.css">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>

  <h1>Currently Reading</h1>
  <section class="reviews">
    <article class="review">
      <div class="review-details">
        <h2>Book Test Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>

    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>

    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>

  </section>

   <h1>Past Reviews</h1>
  <section class="reviews">
    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>

    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>

    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>
    
  </section>

   <h1>To Read</h1>
  <section class="reviews">
    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">notes</p>
    </article>

    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>

    <article class="review">
      <div class="review-details">
        <h2>Book Title</h2>
        <p class="author">Author Name</p>
      </div>
      <p class="date-range">Date - Date</p>
    </article>
    
  </section>

    <footer>
        <p>© 2025 Talia Feng</p>

    </footer>

    
  
</body>

</html>